<div>
    <h2 data-translate="jh2App.schedule.home.title">Schedules</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="schedule.new" has-any-authority="ROLE_ADMIN, ROLE_PRESENTER">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="jh2App.schedule.home.createLabel">
                        Create new Schedule
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive" ng-repeat="room in vm.schedules track by $index" ng-if="room" style="border: solid 2px #ddd; margin-bottom: 10px">
        <h3 style="padding-left: 30px">Аудитория: {{room[0].room.numberAudience}}</h3>
        <table class="jh-table table">
            <thead>
                <tr>
                    <!--<th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="jh2App.schedule.room">Room</span></th>-->
                    <th><span data-translate="jh2App.schedule.beginSchedule">Begin Schedule</span></th>
                    <th><span data-translate="jh2App.schedule.endSchedule">End Schedule</span></th>
                    <th><span data-translate="jh2App.schedule.presentation">Presentation</span></th>

                    <th></th>
                </tr>
            </thead>
            <tbody style="background-color: #f9f9f9">
                <tr ng-repeat="schedule in room track by schedule.id">
                    <!--<td><a ui-sref="schedule-detail({id:schedule.id})">{{schedule.id}}</a></td>
                    <td>
                        <a ui-sref="room-detail({id:schedule.room.id})">{{schedule.room.numberAudience}}</a>
                    </td>-->
                    <td>{{schedule.beginSchedule | date:'medium'}}</td>
                    <td>{{schedule.endSchedule | date:'medium'}}</td>
                    <td>
                        <a ui-sref="presentation-detail({id:schedule.presentation.id})">{{schedule.presentation.namePresentation}}</a>
                    </td>

                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container" has-any-authority="ROLE_ADMIN, ROLE_PRESENTER">
                            <button type="submit"
                                    ui-sref="schedule-detail({id:schedule.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="schedule.edit({id:schedule.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="schedule.delete({id:schedule.id})"
                                    class="btn btn-danger btn-sm"
                                    has-any-authority="ROLE_ADMIN">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
